package wire

import (
	schedulerx "github.com/goforj/scheduler/v2"
	"github.com/google/wire"
	"{{.GoModuleName}}/internal/scheduler"
)

var schedulerSet = wire.NewSet(
	scheduler.NewLighthouseRuntime,
	scheduler.NewScheduler,
	scheduler.NewRuntime,
	scheduler.NewCmd,
	ProvideScheduler,
)

// ProvideScheduler provides the scheduler and its command.
func ProvideScheduler() (*schedulerx.Scheduler, error) {
	s, err := schedulerx.NewWithError()
	if err != nil {
		return nil, err
	}
	return scheduler.ConfigureScheduler(s), nil
}
