package wire

import (
	"context"
	"time"

	"{{.GoModuleName}}/internal/inspects"
{{- if .Components.Metrics }}
	"{{.GoModuleName}}/internal/metrics"
{{- end }}
	"{{.GoModuleName}}/internal/storages"
)

func provideStorageManager(
	inspectManager *inspects.Manager,
{{- if .Components.Metrics }}
	metricsManager *metrics.Manager,
{{- end }}
) (*storages.Manager, error) {
	manager, err := storages.NewManager()
	if err != nil {
		return nil, err
	}
{{- if .Components.Metrics }}
	if metricsManager != nil && metricsManager.StorageEnabled() {
{{- else }}
	{
{{- end }}
		manager = manager.WithObserver(storages.ObserverFunc(func(ctx context.Context, op string, disk string, path string, driver string, err error, dur time.Duration) {
			inspectManager.RecordStorageEvent(ctx, disk, path, driver, op, err, dur)
{{- if .Components.Metrics }}
			if metricsManager != nil && metricsManager.StorageEnabled() {
				metricsManager.RecordStorageOperation(ctx, disk, driver, op, err, dur)
			}
{{- end }}
		}))
	}
	return manager, nil
}
