package wire

import (
	"{{.GoModuleName}}/internal/caches"
	"github.com/goforj/cache/cachecore"
)

func provideCacheManager() (*caches.Manager, error) {
	return caches.NewManager()
}

func provideCacheStore(cacheManager *caches.Manager) cachecore.Store {
	if cacheManager == nil {
		return nil
	}
	return cacheManager.Default().Store()
}
