package wire

import (
{{- if .Components.Metrics }}
	"context"
	"time"
{{- end }}
	"github.com/google/wire"
	"{{.GoModuleName}}/internal/mail"
{{- if .Components.Metrics }}
	"{{.GoModuleName}}/internal/metrics"
{{- end }}
)

var mailSet = wire.NewSet(
	provideMailManager,
)

func provideMailManager(
{{- if .Components.Metrics }}
	metricsManager *metrics.Manager,
{{- end }}
) (*mail.Manager, error) {
{{- if .Components.Metrics }}
	if metricsManager != nil && metricsManager.MailEnabled() {
		return mail.NewManagerWithObserver(mail.ObserverFunc(func(ctx context.Context, name string, driver string, err error, dur time.Duration) {
			metricsManager.RecordMailSend(ctx, name, driver, err, dur)
		}))
	}
{{- end }}
	return mail.NewManager()
}
