package wire

import (
	"github.com/google/wire"
	"{{.GoModuleName}}/internal/jobs"
	{{- if and .Components.DemoApp .Components.Jobs }}
	"{{.GoModuleName}}/internal/alerts"
	"{{.GoModuleName}}/internal/monitoring"
	"{{.GoModuleName}}/internal/notification"
	{{- end }}
)

// jobAppSet is a wire set that contains application-level jobs.
var jobAppSet = wire.NewSet(
	jobs.NewExampleHelloJob,
	jobs.NewExampleHelloJobCmd,
	{{- if and .Components.DemoApp .Components.Jobs }}
	notification.NewManager,
	alerts.NewDispatchJob,
	monitoring.NewCheckService,
	monitoring.NewMonitorCheckJob,
	{{- end }}
)
