package wire

import (
	"context"

	"{{.GoModuleName}}/internal/inspects"
{{- if .Components.Metrics }}
	"{{.GoModuleName}}/internal/metrics"
{{- end }}
	"{{.GoModuleName}}/internal/storages"
)

func provideStorageManager(
	inspectManager *inspects.Manager,
{{- if .Components.Metrics }}
	metricsManager *metrics.Manager,
{{- end }}
) (*storages.Manager, error) {
	manager, err := storages.NewManager()
	if err != nil {
		return nil, err
	}
{{- if .Components.Metrics }}
	if metricsManager != nil && metricsManager.StorageEnabled() {
{{- else }}
	{
{{- end }}
		manager = manager.WithObserver(storages.ObserverFunc(func(ctx context.Context, event storages.StorageOpEvent) {
			inspectManager.RecordStorageEvent(ctx, event)
{{- if .Components.Metrics }}
			if metricsManager != nil && metricsManager.StorageEnabled() {
				metricsManager.RecordStorageOperation(ctx, event)
			}
{{- end }}
		}))
	}
	return manager, nil
}
