package wire

import (
	"{{.GoModuleName}}/internal/database"
	"{{.GoModuleName}}/internal/makecmd"
	"{{.GoModuleName}}/migrations"

	"github.com/google/wire"
)

// databaseSet is a wire set that provides the database connection.
var databaseSet = wire.NewSet(
	database.NewConnections,
	repositorySet,
	migrations.NewMigrateCmd,
	migrations.NewMigrateRollbackCmd,
	makecmd.NewModelCmd,
)
