package wire

import (
	"github.com/google/wire"
	{{if and .Components.Auth .Components.HasDatabase}}"{{.GoModuleName}}/internal/auth"{{end}}
	{{if and .Components.DemoApp .Components.HasDatabase}}"{{.GoModuleName}}/internal/appsettings"{{end}}
	"{{.GoModuleName}}/internal/hello"
	{{if and .Components.DemoApp .Components.HasDatabase}}"{{.GoModuleName}}/internal/monitoring"{{end}}
)

// httpControllerSet provides all HTTP route controllers.
var httpAppControllerSet = wire.NewSet(
	{{if and .Components.Auth .Components.HasDatabase}}auth.NewController,{{end}}
	hello.NewController,
	{{if and .Components.DemoApp .Components.HasDatabase}}appsettings.NewController,{{end}}
	{{if and .Components.DemoApp .Components.HasDatabase}}monitoring.NewController,{{end}}
)
