package wire

import (
	"context"
	"{{.GoModuleName}}/internal/cache"
	"github.com/google/wire"
	"github.com/goforj/env/v2"
{{- if and .Components.DemoApp .Components.HasDatabase }}
	"{{.GoModuleName}}/internal/appsettings"
	"{{.GoModuleName}}/internal/logger"
	"{{.GoModuleName}}/internal/notification"
{{- end }}
	"github.com/redis/go-redis/v9"
)

// appSet is a wire set that provides any application-level services and dependencies.
// for more specific sets, you can create your own
var appSet = wire.NewSet(
	provideCacheRedisClient,
	provideCacheStore,
{{- if and .Components.DemoApp .Components.HasDatabase }}
	preseedDemoDefaults,
{{- end }}
)

func provideCacheRedisClient() *redis.Client {
	if !cache.UsesRedis() {
		return nil
	}
	return redis.NewClient(&redis.Options{
		Addr:     env.Get("REDIS_HOST", "redis") + ":" + env.Get("REDIS_PORT", "6379"),
		Password: env.Get("REDIS_PASSWORD", ""),
		DB:       env.GetInt("REDIS_DB", "0"),
	})
}

func provideCacheStore(redisClient *redis.Client) cache.Store {
	return cache.NewStore(context.Background(), redisClient)
}

{{- if and .Components.DemoApp .Components.HasDatabase }}
type demoPreseedReady struct{}

func preseedDemoDefaults(
	logger *logger.AppLogger,
	settingRepo *appsettings.AppSettingRepo,
	channelRepo *notification.ChannelRepo,
) (*demoPreseedReady, error) {
	if inserted, err := settingRepo.PreseedDefaults(); err != nil {
		return nil, err
	} else if inserted > 0 {
		logger.Info().Int("inserted", inserted).Msg("app settings preseeded")
	}
	if inserted, err := channelRepo.PreseedDefaults(); err != nil {
		return nil, err
	} else if inserted > 0 {
		logger.Info().Int("inserted", inserted).Msg("notification channels preseeded")
	}
	return &demoPreseedReady{}, nil
}
{{- end }}
