package wire

import (
	"github.com/google/wire"
	"{{.GoModuleName}}/internal/jobs"
)

// jobSet is a wire set that provides the queue worker and its dependencies.
var jobSet = wire.NewSet(
	provideQueueManager,
	jobs.NewLighthouseRuntime,
	jobs.NewWorker,
	jobs.NewWorkerCmd,
	jobs.NewBenchmarkRunCmd,
	jobs.NewMakeJobCmd,
)
