package wire

import (
	"{{.GoModuleName}}/internal/app"
	"{{.GoModuleName}}/internal/events"
	"github.com/google/wire"
{{- if and .Components.DemoApp .Components.HasDatabase }}
	"{{.GoModuleName}}/internal/appsettings"
	"{{.GoModuleName}}/internal/logger"
	"{{.GoModuleName}}/internal/notification"
{{- end }}
)

// appSet is a wire set that provides any application-level services and dependencies.
// for more specific sets, you can create your own
var appSet = wire.NewSet(
	provideCacheManager,
	provideCacheStore,
	provideStorageManager,
	provideEventManager,
	app.NewTimeouts,
	app.NewLifecycleRegistry,
	events.NewMakeEventCmd,
{{- if and .Components.DemoApp .Components.HasDatabase }}
	preseedDemoDefaults,
{{- end }}
)

func provideEventManager() (*events.Manager, error) {
	return events.NewManager()
}

{{- if and .Components.DemoApp .Components.HasDatabase }}
type demoPreseedReady struct{}

func preseedDemoDefaults(
	logger *logger.AppLogger,
	settingRepo *appsettings.AppSettingRepo,
	channelRepo *notification.ChannelRepo,
) (*demoPreseedReady, error) {
	if inserted, err := settingRepo.PreseedDefaults(); err != nil {
		return nil, err
	} else if inserted > 0 {
		logger.Info().Int("inserted", inserted).Msg("app settings preseeded")
	}
	if inserted, err := channelRepo.PreseedDefaults(); err != nil {
		return nil, err
	} else if inserted > 0 {
		logger.Info().Int("inserted", inserted).Msg("notification channels preseeded")
	}
	return &demoPreseedReady{}, nil
}
{{- end }}
