//go:build wireinject
// +build wireinject

// GoForj Wire harness. Edit this file when customizing root assembly.
// Re-rendering can overwrite this file; review local changes before rendering over them.

package wire

import (
	"github.com/goforj/wire"
	"{{.GoModuleName}}/internal/logger"
)

// InitializeApplication initializes the application by providing all the dependencies.
func InitializeApplication() (App, error) {
	wire.Build(
		appSet,
{{ if and .Components.Auth .Components.HasDatabase -}}
		authSet,
{{ end -}}
		cmdSet,
{{ if .Components.HasDatabase -}}
		databaseSet,
{{ end -}}
		appSubscriberSet,
{{ if or .Components.WebAPI .Components.WebUI -}}
		appHttpControllerSet,
{{ end -}}
{{ if or .Components.WebAPI .Components.WebUI -}}
		httpServerSet,
{{ end -}}
{{ if .Components.Jobs -}}
		appJobSet,
{{ end -}}
{{ if .Components.Jobs -}}
		jobSet,
{{ end -}}
		logger.ProvideAppLogger,
		managerSet,
{{ if .Components.Scheduler -}}
		schedulerSet,
{{ end -}}
		NewApplication,
	)

	return App{}, nil
}
