package cmd

// AppCommands contains application-specific commands
type AppCommands struct {
	AboutCmd AboutCmd `cmd:""`
	HelloWorldCmd HelloWorldCmd `cmd:""`
	TestEventPipelineCmd TestEventPipelineCmd `cmd:""`
	{{- if and .Components.DemoApp .Components.HasDatabase }}
	MonitorSeedCmd MonitorSeedCmd `cmd:""`
	MonitorResetCmd MonitorResetCmd `cmd:""`
	MonitorRetentionCmd MonitorRetentionCmd `cmd:""`
	{{- if .Components.Jobs }}
	MonitorPollCmd MonitorPollCmd `cmd:""`
	PushMonitorTriggerCmd PushMonitorTriggerCmd `cmd:""`
	TestMonitorPollLoopCmd TestMonitorPollLoopCmd `cmd:""`
	{{- if .Components.StressTest }}
	QueueStressTickCmd QueueStressTickCmd `cmd:""`
	{{- end }}
	{{- end }}
	{{- end }}
}

// NewAppCommands creates a new AppCommands instance with the given commands.
func NewAppCommands(
	aboutCmd *AboutCmd,
	helloWorldCmd *HelloWorldCmd, // Injected command
	testEventPipelineCmd *TestEventPipelineCmd,
	{{- if and .Components.DemoApp .Components.HasDatabase }}
	monitorSeedCmd *MonitorSeedCmd,
	monitorResetCmd *MonitorResetCmd,
	monitorRetentionCmd *MonitorRetentionCmd,
	{{- if .Components.Jobs }}
	monitorPollCmd *MonitorPollCmd,
	pushMonitorTriggerCmd *PushMonitorTriggerCmd,
	testMonitorPollLoopCmd *TestMonitorPollLoopCmd,
	{{- if .Components.StressTest }}
	queueStressTickCmd *QueueStressTickCmd,
	{{- end }}
	{{- end }}
	{{- end }}
) *AppCommands {
	return &AppCommands{
		AboutCmd: *aboutCmd,
		HelloWorldCmd: *helloWorldCmd, // Assign the injected command
		TestEventPipelineCmd: *testEventPipelineCmd,
		{{- if and .Components.DemoApp .Components.HasDatabase }}
		MonitorSeedCmd: *monitorSeedCmd,
		MonitorResetCmd: *monitorResetCmd,
		MonitorRetentionCmd: *monitorRetentionCmd,
		{{- if .Components.Jobs }}
		MonitorPollCmd: *monitorPollCmd,
		PushMonitorTriggerCmd: *pushMonitorTriggerCmd,
		TestMonitorPollLoopCmd: *testMonitorPollLoopCmd,
		{{- if .Components.StressTest }}
		QueueStressTickCmd: *queueStressTickCmd,
		{{- end }}
		{{- end }}
		{{- end }}
	}
}
