package {{ .PackageName }}

import (
	"context"
	"encoding/json"
	"fmt"
	"{{.ModulePath}}/internal/queues"
	"github.com/goforj/queue"
)

const {{ .StructName }}TypeName = "{{ .TaskName }}"

// {{ .StructName }}Payload is the payload for the {{ .StructName }} job.
type {{ .StructName }}Payload struct {
	// add your payload fields here
}

// {{ .StructName }} is a struct that represents a queue job.
type {{ .StructName }} struct {
	queues *queues.Manager
}

// New{{ .StructName }} creates a new {{ .StructName }} with the given queue manager.
func New{{ .StructName }}(queues *queues.Manager) *{{ .StructName }} {
	return &{{ .StructName }}{queues: queues}
}

// Queue creates a new task and enqueues it to the queue.
// Add your inputs as args to the function
func (t *{{ .StructName }}) Queue(ctx context.Context, name string) error {
	var p {{ .StructName }}Payload
	// add your payload fields here
	// p.User = name

	payload, err := json.Marshal(p)
	if err != nil {
		return err
	}
	_, err = t.queues.WithContext(ctx).Dispatch(
		queue.NewJob({{ .StructName }}TypeName).Payload(payload).OnQueue("default"),
		// queue.NewJob({{ .StructName }}TypeName).Payload(payload).OnQueue("default").Timeout(1*time.Minute), // uncomment if you want to set a timeout
	)
	return err
}

// HandleTask processes queue payloads.
func (t *{{ .StructName }}) HandleTask(_ context.Context, msg queue.Message) error {
	var p {{ .StructName }}Payload
	if err := msg.Bind(&p); err != nil {
		return fmt.Errorf("json.Unmarshal failed: %w", err)
	}
	return nil
}
