package {{ .PackageName }}

const {{ .StructName }}Topic = "{{ .TopicName }}"

// {{ .StructName }} is the event payload for {{ .StructName }}Topic.
type {{ .StructName }} struct {
	// Add event fields.
}

func ({{ .StructName }}) Topic() string {
	return {{ .StructName }}Topic
}
