package events

import (
	"context"

	goforjevents "github.com/goforj/events"
	"github.com/goforj/events/eventscore"
)

type API = goforjevents.API
type Driver = eventscore.Driver
type Subscription = goforjevents.Subscription

const (
	DriverInproc        Driver = eventscore.DriverSync
	DriverNull          Driver = eventscore.DriverNull
	DriverRedis         Driver = eventscore.DriverRedis
	DriverNATS          Driver = eventscore.DriverNATS
	DriverNATSJetStream Driver = eventscore.DriverNATSJetStream
	DriverKafka         Driver = eventscore.DriverKafka
	DriverGCPPubSub     Driver = eventscore.DriverGCPPubSub
	DriverSNS           Driver = eventscore.DriverSNS
)

// Bus is the application-facing event bus with lifecycle hooks.
type Bus interface {
	API
	Start(ctx context.Context) error
	Close(ctx context.Context) error
}
