{{- define "developer-service-redis-volumes" }}
  redis:
    driver: local
{{ end -}}

{{- define "developer-service-redis-services" }}
  redis:
    profiles: [redis]
    restart: unless-stopped
    image: redis:7.4
    environment:
      - TZ=${TZ:-UTC}
    ports:
      - ${IP_ADDRESS:-${DEV_SERVICE_IP_ADDRESS:-127.0.0.1}}:${REDIS_PORT:-6379}:6379
    volumes:
      - redis:/data
    networks:
      - backend
{{ end -}}
