package wire

import (
	"context"
	"{{.GoModuleName}}/internal/cmd"
	"{{.GoModuleName}}/internal/logger"
	gocache "github.com/patrickmn/go-cache"
{{- if .Components.HasDatabase }}
	"{{.GoModuleName}}/internal/dbconns"
{{- end }}
)

// App is the root App resource
type App struct {
	context context.Context
	rootCmd *cmd.RootCmd
	logger  *logger.AppLogger
	cache   *gocache.Cache
	{{- if .Components.HasDatabase }}
	db      *dbconns.Connections
	{{- end }}
}

// RootCmd returns the root command of the application
func (a *App) RootCmd() *cmd.RootCmd {
	return a.rootCmd
}

// Logger returns the logger of the application
func (a *App) Logger() *logger.AppLogger {
	return a.logger
}

{{- if .Components.HasDatabase }}
// DB returns the database connection registry.
func (a *App) DB() *dbconns.Connections {
	return a.db
}
{{- end }}

// NewApplication creates a new App instance
func NewApplication(
	{{- if .Components.HasDatabase }}
	db *dbconns.Connections,
	{{- end }}
	logger *logger.AppLogger,
	rootCmd *cmd.RootCmd,
	cache *gocache.Cache,
) App {
	return App{
		context: context.Background(),
		rootCmd: rootCmd,
		logger:  logger,
		{{- if .Components.HasDatabase }}
		db: db,
		{{- end }}
		cache: cache,
	}
}
