package wire

import (
	"{{.GoModuleName}}/internal/dbconns"
	"{{.GoModuleName}}/internal/migrations"
	"{{.GoModuleName}}/internal/modelgen"

	"github.com/google/wire"
)

// databaseSet is a wire set that provides the database connection.
var databaseSet = wire.NewSet(
	dbconns.NewConnections,
	dbconns.NewGenerateCmd,
	migrations.NewMigrateCmd,
	migrations.NewMigrateRollbackCmd,
	modelgen.NewMakeModelCmd,
)
