package router

import (
	"{{.GoModuleName}}/internal/hello"
	"{{.GoModuleName}}/internal/http"
	{{if and .Components.DemoApp .Components.HasDatabase}}"{{.GoModuleName}}/internal/monitoring"{{end}}
)

// Package router provides the application routes for the HTTP server.
// It defines the routes for the application and groups them into
// different categories such as app routes and authenticated routes.
// It uses the wire dependency injection framework to provide the routes
// and their controllers.

// AppRoutes is a struct that holds the routes for the application.
// can hold different groups of routes like app, admin, etc.
type AppRoutes struct {
	app []http.Route // app routes
}

// ProvideAppRoutes is a function that returns a slice of Route.
func ProvideAppRoutes(
	helloController *hello.Controller,
	{{if and .Components.DemoApp .Components.HasDatabase}}monitoringController *monitoring.Controller,{{end}}
) *AppRoutes {
	// append all routes from controllers
	var routes []http.Route
	routes = append(routes, helloController.Routes()...)
	{{if and .Components.DemoApp .Components.HasDatabase}}routes = append(routes, monitoringController.Routes()...){{end}}
	return &AppRoutes{
		app: routes,
	}
}

// ProvideRoutes is a function that provides the routes for the HTTP server.
func ProvideRoutes(r *AppRoutes) []http.RouteGroup {
	var groups []http.RouteGroup

	// app routes
	groups = append(groups, http.NewRouteGroup("/api/v1", r.app))

	return groups
}
