package scheduler_test

import (
	"{{.GoModuleName}}/internal/scheduler"
	"sync/atomic"
	"testing"
	"time"

	"github.com/go-co-op/gocron/v2"
	"github.com/jonboulle/clockwork"
	"github.com/stretchr/testify/assert"
)

func newTestScheduler(clock *clockwork.FakeClock) gocron.Scheduler {
	s, err := gocron.NewScheduler(gocron.WithClock(clock))
	if err != nil {
		panic(err)
	}
	s.Start()
	return s
}

func waitForJob(clock *clockwork.FakeClock, d time.Duration) {
	clock.Advance(d)
	time.Sleep(10 * time.Millisecond)
}

func TestEverySecond_Do(t *testing.T) {
	clock := clockwork.NewFakeClock()
	s := newTestScheduler(clock)
	var called atomic.Bool

	scheduler.NewFluentJobWrapper(s).
		EverySecond().
		Do(func() { called.Store(true) })

	waitForJob(clock, time.Second)
	assert.True(t, called.Load())
	s.Shutdown()
}

func TestEveryTenSecondsFluent(t *testing.T) {
	clock := clockwork.NewFakeClock()
	s := newTestScheduler(clock)
	var ran atomic.Bool

	scheduler.NewFluentJobWrapper(s).
		Every(10).
		Seconds().
		Do(func() { ran.Store(true) })

	waitForJob(clock, 10*time.Second)
	assert.True(t, ran.Load())
	s.Shutdown()
}

func TestDailyAt(t *testing.T) {
	job := scheduler.NewFluentJobWrapper(nil).DailyAt("13:00")
	assert.Equal(t, "13:00 * * *", job.CronExpr())
}

func TestTwiceDailyAt(t *testing.T) {
	job := scheduler.NewFluentJobWrapper(nil).TwiceDailyAt(1, 13, 15)
	assert.Equal(t, "15 1,13 * * *", job.CronExpr())
}

func TestWeeklyOn(t *testing.T) {
	job := scheduler.NewFluentJobWrapper(nil).WeeklyOn(1, "8:00")
	assert.Equal(t, "8:00 * * 1", job.CronExpr())
}

func TestErrorOnNoSchedule(t *testing.T) {
	clock := clockwork.NewFakeClock()
	s := newTestScheduler(clock)

	job := scheduler.NewFluentJobWrapper(s).Do(func() {})
	assert.Error(t, job.Error(), "Expected error when calling Do without setting a schedule")
	_ = s.Shutdown()
}

func TestWhenConditionFalse_SkipsJob(t *testing.T) {
	clock := clockwork.NewFakeClock()
	s := newTestScheduler(clock)
	var called atomic.Bool

	scheduler.NewFluentJobWrapper(s).
		EverySecond().
		When(func() bool { return false }).
		Do(func() { called.Store(true) })

	waitForJob(clock, time.Second)
	assert.False(t, called.Load(), "Job should not run when When() returns false")
	s.Shutdown()
}

func TestWhenConditionTrue_RunsJob(t *testing.T) {
	clock := clockwork.NewFakeClock()
	s := newTestScheduler(clock)
	var called atomic.Bool

	scheduler.NewFluentJobWrapper(s).
		EverySecond().
		When(func() bool { return true }).
		Do(func() { called.Store(true) })

	waitForJob(clock, time.Second)
	assert.True(t, called.Load(), "Job should run when When() returns true")
	s.Shutdown()
}

func TestSkipConditionTrue_SkipsJob(t *testing.T) {
	clock := clockwork.NewFakeClock()
	s := newTestScheduler(clock)
	var called atomic.Bool

	scheduler.NewFluentJobWrapper(s).
		EverySecond().
		Skip(func() bool { return true }).
		Do(func() { called.Store(true) })

	waitForJob(clock, time.Second)
	assert.False(t, called.Load(), "Job should not run when Skip() returns true")
	s.Shutdown()
}

func TestSkipConditionFalse_RunsJob(t *testing.T) {
	clock := clockwork.NewFakeClock()
	s := newTestScheduler(clock)
	var called atomic.Bool

	scheduler.NewFluentJobWrapper(s).
		EverySecond().
		Skip(func() bool { return false }).
		Do(func() { called.Store(true) })

	waitForJob(clock, time.Second)
	assert.True(t, called.Load(), "Job should run when Skip() returns false")
	s.Shutdown()
}
