@media (min-width: 960px) {
    [data-v-a9f70984] .VPImage {
        height: 500px;
        max-height: none;
        max-width: none;
        filter: drop-shadow(0 0 30px orange) drop-shadow(0 0 30px green) drop-shadow(0 0 100px red);
        border-radius: 150px;
    }
}