@keyframes radiatePulse {
    0%, 100% {
        filter: drop-shadow(0 0 10px orange) drop-shadow(0 0 10px green) drop-shadow(0 0 30px red);
    }
    50% {
        filter: drop-shadow(0 0 30px orange) drop-shadow(0 0 30px green) drop-shadow(0 0 100px red);
    }
}
@keyframes smallRadiatePulse {
    0%, 100% {
        filter: drop-shadow(0 0 2px orange) drop-shadow(0 0 4px green) drop-shadow(0 0 6px red);
    }
    50% {
        filter: drop-shadow(0 0 6px orange) drop-shadow(0 0 8px green) drop-shadow(0 0 12px red);
    }
}

@media (min-width: 960px) {
    .VPImage.image-src {
        height: 500px;
        max-height: none !important;
        max-width: none !important;
        animation: radiatePulse 4s infinite ease-in-out !important;
        filter: drop-shadow(0 0 30px orange) drop-shadow(0 0 30px green) drop-shadow(0 0 100px red);
    }
    .VPImage.logo {
        animation: smallRadiatePulse 4s infinite ease-in-out !important;
        filter: drop-shadow(0 0 2px orange) drop-shadow(0 0 4px green) drop-shadow(0 0 6px red);
    }
}
