package http

import (
	"fmt"
	"github.com/goforj/web"
	"{{.GoModuleName}}/internal/logger"
)

// RouteListCmd lists registered routes.
type RouteListCmd struct {
	logger *logger.AppLogger
	server *Server
}

// NewRouteListCmd creates a new RouteListCmd instance.
func NewRouteListCmd(logger *logger.AppLogger, server *Server) *RouteListCmd {
	return &RouteListCmd{logger: logger, server: server}
}

// Run executes the command to list all registered routes.
func (c *RouteListCmd) Run() error {
	entries := web.BuildRouteEntries(c.server.GetRoutes())
	fmt.Println(web.RenderRouteTable(entries))
	return nil
}
