//go:build wireinject
// +build wireinject

package wire

import (
	"github.com/google/wire"
	"{{.GoModuleName}}/internal/logger"
)

// InitializeApplication initializes the application by providing all the dependencies.
func InitializeApplication() (App, error) {
	wire.Build(
		appSet,
		cmdSet,
{{ if .Components.Database }}		databaseSet,{{ end }}
{{ if or .Components.WebAPI .Components.WebUI }}
		httpServerSet,
{{ end }}
{{ if .Components.WebAPI }}
		httpAppControllerSet,
{{ end }}
{{ if .Components.Scheduler }}		schedulerSet,{{ end }}
{{ if .Components.Jobs }}		jobSet,
		jobAppSet,{{ end }}
		logger.ProvideAppLogger,
		NewApplication,
	)

	return App{}, nil
}
