package main

import (
	{{if .Components.WebUI}}"embed"{{end}}
	"fmt"
	"github.com/goforj/env/v2"
	{{if .Components.WebUI}}"{{.GoModuleName}}/internal/http"{{end}}
	"{{.GoModuleName}}/wire"
	"os"
)
{{if .Components.WebUI}}
//go:embed all:frontend/dist/*
var spa embed.FS
{{end}}
func main() {
	// default
	_ = os.Setenv("APP_ENV", "local")

	// load env
	if err := env.LoadEnvFileIfExists(); err != nil {
		fmt.Println("Error loading env file:", err)
		return
	}
{{if .Components.WebUI}}
	// initialize embedded spa's
	http.RegisterSpa("/*", "frontend/dist", &spa)
{{end}}
	// initialize application
	app, err := wire.InitializeApplication()
	if err != nil {
		fmt.Println("Error initializing application:", err)
		return
	}
	if err := app.Run(nil, os.Args[1:]); err != nil {
		app.Logger().Fatal().Err(err).Msg("Error executing command")
	}
}
