package main

import (
	{{if .Components.WebUI}}"embed"{{end}}
	"{{.GoModuleName}}/internal/cmd"
	"{{.GoModuleName}}/internal/console"
	{{if .Components.WebUI}}"{{.GoModuleName}}/internal/http"{{end}}
	"{{.GoModuleName}}/wire"
	"os"
)
{{if .Components.WebUI}}
//go:embed all:frontend/dist/*
var spa embed.FS
{{end}}
func main() {
	args := cmd.EffectiveLaunchArgs(os.Args[1:])

	if err := cmd.LoadEnv(); err != nil {
		console.Fatalf("loading env: %v", err)
	}
	if handled, err := cmd.MaybeRunSkipBootCommand(args); handled {
		if err != nil {
			console.Fatalf("%v", err)
		}
		return
	}
{{if .Components.WebUI}}
	// initialize embedded spa's
	http.RegisterSpa("/*", "frontend/dist", &spa)
{{end}}
	// initialize application
	app, err := wire.InitializeApplication()
	if err != nil {
		console.Fatalf("initializing application: %v", err)
	}
	if err := app.Run(nil, args); err != nil {
		console.Fatalf("%v", err)
	}
}
