package jobs

import (
	"context"
	"encoding/json"
	"fmt"
	"github.com/goforj/queue"
)

const {{ .StructName }}TypeName = "{{ .TaskName }}"

// {{ .StructName }}Payload is the payload for the {{ .StructName }} job.
type {{ .StructName }}Payload struct {
	// add your payload fields here
}

// {{ .StructName }} is a struct that represents a queue job.
type {{ .StructName }} struct {
	queue *queue.Queue
}

// New{{ .StructName }} creates a new {{ .StructName }} with the given queue.
func New{{ .StructName }}(appQueue *queue.Queue) *{{ .StructName }} {
	job := &{{ .StructName }}{queue: appQueue}
	if appQueue != nil {
		appQueue.Register({{ .StructName }}TypeName, job.HandleTask)
	}
	return job
}

// Queue creates a new task and enqueues it to the queue.
// Add your inputs as args to the function
func (t *{{ .StructName }}) Queue(name string) error {
	var p {{ .StructName }}Payload
	// add your payload fields here
	// p.User = name

	payload, err := json.Marshal(p)
	if err != nil {
		return err
	}
	if t.queue == nil {
		return fmt.Errorf("queue unavailable")
	}
	_, err = t.queue.DispatchCtx(
		context.Background(),
		queue.NewJob({{ .StructName }}TypeName).Payload(payload),
		// queue.NewJob({{ .StructName }}TypeName).Payload(payload).Timeout(1*time.Minute), // uncomment if you want to set a timeout
	)
	return err
}

// HandleTask processes queue payloads.
func (t *{{ .StructName }}) HandleTask(_ context.Context, msg queue.Message) error {
	var p {{ .StructName }}Payload
	if err := msg.Bind(&p); err != nil {
		return fmt.Errorf("json.Unmarshal failed: %w", err)
	}
	return nil
}
